<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variables>
    <variable name="logDirectory" value="c:/data/komoe_log"/>
    <variable name="gameLogDirectory" value="c:/Log/GameLog/${date:format=yyyy_MM_dd}"/>
    <variable name="LogbusDirectory" value="c:/Log/LogBus/${date:format=yyyy_MM_dd}"/>
  </variables>
  <targets>
    <!--使用可自定义的着色将日志消息写入控制台-->
    <target name="eventlog" xsi:type="File"
            fileName="${logDirectory}/event/komoeevent_${event-properties:item=ServerId}_${date:format=yyyyMMddHH}.log"
            layout="${message}"
            encoding="UTF-8"
             />
    <target name="userlog" xsi:type="File"
            fileName="${logDirectory}/user/komoeuser_${date:format=yyyyMMddHH}.log"
            layout="${message}"
            encoding="UTF-8"
             />
    <target name="dimensionlog" xsi:type="File"
            fileName="${logDirectory}/dimension/komoedimension_${date:format=yyyyMMddHH}.log"
            layout="${message}"
            encoding="UTF-8"
             />
    <target name="Logbuslog" xsi:type="File" archiveNumbering="Sequence" archiveAboveSize="1048576"
        fileName="${LogbusDirectory}/log.${date:format=yyyy-MM-dd-HH}.log"
        layout="${message}"
        encoding="UTF-8"
             />

    <target name="All" xsi:type="File" archiveNumbering="Sequence" archiveAboveSize="1048576"
            fileName="${gameLogDirectory}/${event-properties:SERVERNAME}_All_${date:format=yyyyMMddHH}.txt"
            layout="${longdate}[${level}] :${message}${exception:format=ToString}"/>
    <target name="SqlError" xsi:type="File" archiveNumbering="Sequence" archiveAboveSize="1048576"
            fileName="${gameLogDirectory}/check/${event-properties:SERVERNAME}_SqlError_${date:format=yyyyMMddHH}.txt"
            layout="${longdate}[${level}] :${message}${exception:format=ToString}"/>
    <target name="Info" xsi:type="File"  archiveNumbering="Sequence" archiveAboveSize="1048576"
            fileName="${gameLogDirectory}/${event-properties:ServerFlag}_Info__${date:format=yyyyMMddHH}.txt"
            layout="${longdate}[${level}] :${message}${exception:format=ToString}"/>
    <target name="Trace" xsi:type="File" archiveNumbering="Sequence" archiveAboveSize="1048576"
            fileName="${gameLogDirectory}/check/${event-properties:SERVERNAME}_Trace_${date:format=yyyyMMddHH}.txt"
            layout="${longdate}[${level}] :${message}${exception:format=ToString}"/>
    <target name="Debug" xsi:type="File" archiveNumbering="Sequence" archiveAboveSize="1048576"
            fileName="${gameLogDirectory}/${event-properties:SERVERNAME}_Debug_${date:format=yyyyMMddHH}.txt"
            layout="${longdate}[${level}] :${message}${exception:format=ToString}"/>
    <target name="Error" xsi:type="File" archiveNumbering="Sequence" archiveAboveSize="1048576"
            fileName="${gameLogDirectory}/check/${event-properties:SERVERNAME}_Error_${date:format=yyyyMMddHH}.txt"
            layout="${longdate}[${level}] :${message}${exception:format=ToString}"/>
    <target name="Fatal" xsi:type="File" archiveNumbering="Sequence" archiveAboveSize="1048576"
            fileName="${gameLogDirectory}/check/${event-properties:SERVERNAME}_Fatal_${date:format=yyyyMMddHH}.txt"
            layout="${longdate}[${level}] :${message}${exception:format=ToString}"/>
    <target name="Warn" xsi:type="File" archiveNumbering="Sequence" archiveAboveSize="1048576"
            fileName="${gameLogDirectory}/check/${event-properties:SERVERNAME}_Warn_${date:format=yyyyMMddHH}.txt"
            layout="${longdate}[${level}] :${message}${exception:format=ToString}"/>
    
    <target name="ColoredConsole" xsi:type="ColoredConsole"
          useDefaultRowHighlightingRules="true"
          layout="${date:format=HH\:\mm\:ss.fff} ${event-properties:SERVERFLAG} [${level}] :${message}${exception:format=ToString}">
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGreen" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
  </targets>
  <!--规则配置,final - 最终规则匹配后不处理任何规则-->
  <rules>
    <logger name="*.KomoeLogEvent" level="Trace" writeTo="eventlog" final="true"/>
    <logger name="*.KomoeLogUser" level="Trace" writeTo="userlog" final="true"/>
    <logger name="*.KomoeLogDimension" level="Trace" writeTo="dimensionlog" final="true"/>

    <logger name="*.BILogger" level="Trace" writeTo="Logbuslog" final="true"/>
    
    <logger name="SQL" level="Info" writeTo="SqlError"/>
    <logger name="*" level="Info" writeTo="All,ColoredConsole"/>
    <logger name="*" level="Trace" writeTo="All"/>
    <!--logger name="*" level="Debug" writeTo="All,Debug,ColoredConsole"/-->
    <logger name="*" level="Error" writeTo="All,Error,ColoredConsole"/>
    <logger name="*" level="Fatal" writeTo="All,Fatal,ColoredConsole"/>
    <logger name="*" level="Warn" writeTo="All,Warn,ColoredConsole"/>
  </rules>

</nlog>